.navbar {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  max-height: 200px;
}

.navbar-title {
  margin: 20px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 23px;
  gap: 20px;
}

.navbar-title-sub {
  display: flex;
  font-size: 15px;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  gap: 30px;
  font-weight: 600;
}

.navbar-menu-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  color: black;
}

.navbar-menu-icons div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .navbar-title {
    margin-left: 200px;
  }
}

@media (max-width: 800px) {
  .navbar-title {
    margin-left: 100px;
  }
  .navbar-title p {
    font-size: 18px;
  }
  .navbar-menu {
    font-size: 15px;
    gap: 30px;
    font-weight: 600;
  }
}

@media (max-width: 550px) {
  .navbar-title {
    margin-left: 200px;
    margin-top: 10px;
  }

  .navbar-title p {
    font-size: 15px;
  }
  .navbar-title-sub p {
    font-size: 10px;
  }
  .navbar-menu {
    font-size: 13px;
    gap: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
}
